<?xml version="1.0"?>
<launch>
	<arg name="model" default="$(find inof_robot)/urdf/inof_robot.urdf.xacro"/>
	<!--arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz"/-->

	<include file="$(find inof_robot)/launch/gazebo.launch">
		<arg name="model" value="$(arg model)"/>
	</include>

	<!--node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)"/-->

	<rosparam command="load" 
			file="$(find inof_robot)/config/joints.yaml"
			ns="inof_joint_state_controller" />

	<rosparam command="load" 
			file="$(find inof_robot)/config/diffdrive.yaml"
			ns="inof_diff_drive_controller" />
	

	<node name="inof_controller_spawner" pkg="controller_manager" type="spawner"
		args="inof_joint_state_controller inof_diff_drive_controller" />

	<!--node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
		<param name="default_topic" value="/inof_diff_drive_controller/cmd_vel"/>
	</node-->

	<node name="path_planner" pkg="inof_robot" type="path_planner"/>

	<!--node name="rqt_robot_steering" pkg="rqt_robot_steering" type="rqt_robot_steering">
		<param name="default_topic" value="/inof_diff_drive_controller/cmd_vel"/>
	</node-->

	<!--node name="graph_plot" pkg="inof_robot" type="gain_plot.py" output="screen"/-->
	<node name="auto_steer" pkg="inof_robot" type="app_move_in_office" output="screen"/>
</launch>
